body {
  box-sizing: border-box;
}

.front-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -200px;
  padding-inline: 70px;
  gap: 270px;
}
.front-page2 {
  flex-direction: row-reverse;
}
.dot-group {
  width: 100px;
  height: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: -10px;
  position: absolute;
  top: 230px;
  left: 10px;
}
.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: grey;
  opacity: 0.2;
}
.front-page-text {
  width: 500px;
  margin-top: 210px;
  line-height: 60px;
}
.front-page-text > h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}
.front-page-text > p {
  font-size: 1.3rem;
  line-height: 32px;
  color: gray;
  margin-bottom: 60px;
}
.front-page-text > button {
  width: 200px;
  height: 56px;
  border-radius: 30px;
  border: none;
  background: #458ff6;
  color: white;
  font-size: 1.12rem;
  font-weight: 700;
}
.front-page2 .front-page-text > button {
  background-color: transparent;
  border: 1px solid #458ff6;
  color: #458ff6;
}
.front-page .img {
  height: 400px;
  width: 60%;
  max-width: 800px;
  z-index: 0;
}
.front-page .img img {
  width: 100%;
}
.underline {
  background-color: black;
  height: 2px;
  width: 56px;
}
@media (min-width: 1700px) {
  .front-page .img {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .front-page .img {
    width: 500px;
  }
  .front-page {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* padding-top: 200px; */
    margin-top: 100px;
  }
  .front-page-text > h2 {
    font-size: 1.5rem;
  }
  .front-page-text > p {
    font-size: 1rem;
  }
  div .front-page-text {
    margin-top: 100px;
    margin-left: 100px;
  }
}
@media (max-width: 700px) {
  .front-page .img {
    width: 500px;
    margin-bottom: 00px;
  }
}
@media (max-width: 500px) {
  div .front-page-text {
    width: 300px;
    margin-top: -150px;
    margin-left: 00px;
  }
  .front-page .img {
    width: 350px;
  }
  .front-page {
    margin-top: 0;
  }
}
